body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

 
.top-area{
    background-color: #264653;
    
    width: 100%;
}



.buttons{
    background-color: #E76F51;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
}

.header-byk{
    width: 100%;
}

/* top area css end  */

.featured-heighlight{
    color: #E76F51;
}
.featured{
    width: 80%;
}
.first{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.third{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}



